.content-card {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .content-card {
  display: flex;
  justify-content: center;
} */

/* .input-cards {
  background-color: antiquewhite;
} */